.bar{
    background-color: black;
}
.nav{
    float: right;
    font-size: 20px;
    padding: 20px;
}
.link{
    margin-right: 10px;
    color: aliceblue;
}
.header{
    background-color: brown;
    padding: 10px;
    text-align: center;
}
.section1{
    background-color: blue; 
    padding: 10px;
    display: inline-block;
}
.item{
    border: solid 2px;
    margin: 10px;
    width: 25%;
    border-color: darkgoldenrod;
}
.content{
    font-size: 15px;
    color: yellow;
}
.headings{
    color: aliceblue;
}
.sub-item{
    float: left;
}